
    {% extends "base_generic.html" %}

    {% block content %}
    
      
      
      
        <header style="background-color: rgb(206, 23, 23); height: 250px;">
            <H1 style="margin: 0px; padding-top: 100px; font-size: 50px; padding-left: 20px; color: cornsilk;">WELCOME!</H1>
            <h3 style="padding-left: 20px; color: cornsilk;">Ansible Introduction</h3>
        </header>
        <div>
            <h2> <i class="fas fa-star"></i> Difficulty: <span style="color: rgb(206, 23, 23);">Beginner</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                <i class="far fa-clock"></i> Estimated Time: <span style="color: rgb(206, 23, 23);">10 Minutes</span>  
            </h2>
            <br>
            <h2><span style="color: royalblue; font-size: 30px;">Objective</span></h2>

            <p>This exercise is about exploring and understanding the lab environment, and the various parts that go into successfully running your first Ansible Playbook. This exercise will cover:
              <ul>
                <li>
                  Determining the Ansible version running on the control node
                </li>
                <li>
                  Locating and understanding the Ansible configuration file - (ansible.cfg)
                </li>
                <li>
                  Locating and understanding an ini formatted inventory file
                </li>
                <li>
                  Running your first Ansible Playbook
                </li>
              </ul>
            </p>

        </div>
        <div >
          <!-- <button class="button start" onclick="location.href = '/step1'">START SCENARIO</button> -->
          <a class="button start" href="step1">START SCENARIO</a>
          
          
      </div>
      
      
{% endblock %}

