


 
 {% extends "base_generic.html" %}

 
 
   
   
  
{% block content %}
              < <header style="background-color: rgb(206, 23, 23); height: 50px; margin-top: -25px;">
                    
                <h3 style="padding-top: 15px; color: cornsilk; text-align: center;">Ansible Introduction</h3>
            </header>
              
            <button class="tablink" onclick="openPage('Home', this, 'red')" id="defaultOpen">Step 1</button>
            <button class="tablink" onclick="openPage('News', this, 'green')" >Step 2</button>
            <button class="tablink" onclick="openPage('Contact', this, 'blue')">Step 3</button>
            <button class="tablink" onclick="openPage('About', this, 'orange')">Step 4</button>
            <button class="tablink" onclick="openPage('Step5', this, 'blue')">Step 5</button>
            <button class="tablink" onclick="openPage('Step6', this, 'orange')">Step 6</button>

            <div id="Home" class="tabcontent">
              

              <div >
                
                <div class="center">
                  <div class="pagination">
                  
                  <a href="#">Step 1</a>
                  
                  <a href="{% url 'step2' %}">&raquo;</a>
                  </div>
                </div>
            <div style="color: black;">
                <h2 style="color: rgb(206, 23, 23);">Exploring and understanding the lab environment</h2>
                <p>You have access to the following hosts: <br>

                  <table id="customers">
                    <tr>
                      <th>Role</th>
                      <th>Inventory Name</th>
                      <th>IP Address</th>
                    </tr>
                    <tr>
                      <td>Ansible Control node</td>
                      <td>host01</td>
                      <td>172.17.0.26</td>
                    </tr>
                    <tr>
                      <td>Manage Host01</td>
                      <td>host01</td>
                      <td>172.17.0.26</td>
                    </tr>
                    <tr>
                      <td>Manage Host02</td>
                      <td>host01</td>
                      <td>172.17.0.26</td>
                    </tr>
                    
                  </table>
                  <br>
                  A control node is any machine with Ansible installed. All three nodes are running Red Hat Enterprise Linux 8. To see what version of Red Hat Enterprise is running on the server use the Linux cat command to examine the /etc/redhat-release file.
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
              </div>
              </div>
              <br>
              <br>
            </div>

            <div id="News" class="tabcontent">
              <div >
                
                <div class="center">
                  <div class="pagination">
                  <a href="\step1">&laquo;</a>
                  <a href="#" >Step 2</a>
                  
                  <a href="\step3">&raquo;</a>
                  </div>
                </div>
            <div style="color: black;">
                <h2 style="color: rgb(206, 23, 23);">Examine Ansible software version</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
              </div>
              </div>
            </div>

            <div id="Contact" class="tabcontent">
              <div style="padding: 20px;">
                
                <div class="center">
                  <div class="pagination">
                  <a href="\step2">&laquo;</a>
                  <a href="#">Step 3</a>
                  
                  <a href="\step4">&raquo;</a>
                  </div>
                </div>
            <div style="color: black;">
                <h2 style="color: rgb(206, 23, 23);">The Ansible Configuration File</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
              </div>
              </div>
              <br><br>
            </div>

            <div id="About" class="tabcontent">
              <div style="padding: 20px;">
                
                <div class="center">
                  <div class="pagination">
                  <a href="\step3">&laquo;</a>
                  <a href="#" >Step 4</a>
                  
                  <a href="\step5">&raquo;</a>
                  </div>
                </div>
            <div style="color: black;">
                <h2 style="color: rgb(206, 23, 23);">Ansible Inventory</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
              </div>
              </div>
              <br><br>
            </div>


            <div id="Step5" class="tabcontent">
              <div style="padding: 20px;">
                
                <div class="center">
                  <div class="pagination">
                  <a href="\step4">&laquo;</a>
                  <a href="#" >Step 5</a>
                  
                  <a href="\step6">&raquo;</a>
                  </div>
                </div>
            <div style="color: black;">
                <h2 style="color: rgb(206, 23, 23);">Ansible Playbook Overview</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
              </div>
              </div>
              <br><br>
            </div>

            <div id="Step6" class="tabcontent">
              <div style="padding: 20px;">
                
                <div class="center">
                  <div class="pagination">
                  <a href="{% url 'step5' %}">&laquo;</a>
                  <a >Step 6</a>
                  
                  </div>
                </div>
            <div style="color: black;">
                <h2 style="color: rgb(206, 23, 23);">Ansible Variables</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <h2>Jane Flex</h2>
                <p>Some text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam magni inventore eaque culpa nihil iste placeat iusto modi ad. Magnam quisquam nostrum eaque fuga exercitationem eos velit vero maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium saepe exercitationem architecto consequuntur iste officia praesentium neque. Illum modi id cumque? Illum veritatis expedita quaerat sequi iste reiciendis est culpa?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed, distinctio expedita officiis recusandae esse eos dolor quidem voluptatem tempore, in quis voluptas illum laudantium a doloribus velit blanditiis perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, hic, quod laboriosam ut vitae excepturi repudiandae pariatur fugiat asperiores suscipit dolor atque, dolorem blanditiis sunt cumque quaerat error cupiditate aspernatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In asperiores esse quis ea, vero eligendi quo quam magni maiores enim ratione voluptatibus cupiditate laborum recusandae mollitia iusto at quas natus?
                </p>
                <div>
                    <button class="button start" href='#'>CONTINUE</button>
                    
                    
                </div>
                
                <br><br><br><br><br><br>
            </div>

 {% endblock %}


   
